@{ViewBag.Title = "Index";}
<div class="cotainer">
    <section class="d-flex text-center">
        <div class="container d-flex justify-content-center">
            <div class="row align-items-center justify-content-center">
                <div class="col-12">
                    <br />
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                            <h1 class="display-4">Slot Data Capture App</h1>
                            <p class="lead">The slot data capture application <b>(S.D.C.A)</b> consists of two functional areas data-views and data modification.</p>
                            <p class="lead"><b>Data snapshots</b></p>
                            <p class="lead">If you require a data snapshot for a specified category, this option will return all available records held within a given table. You can then drill down within the dataset by searching for specific record or group of records.</p>
                            <br />
                            <p class="lead"><b>Data modifications</b></p>
                            <p class="lead">If you want to add modify the <b>S.D.A workflow process</b> by adding modifying or in some cases deleteting or removing records in the shape of infomational forms or simple dropdown list options used within secondary forms throughout the <b>S.D.A</b> process use the L.H.S navigational menu options to acheive this.</p>
                            <img src="~/Images/Workflow.PNG" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
